*{
    box-sizing: border-box;
}

:root{
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-reddish: #FB3B64;
    --color-green: rgba(7, 172, 230, .16);
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #f7f7f7;
    --color-white: #ffffff;
    --color-white-border-box: #E8E9ED;
    --color-shadow-header: #00000029;
    --color-icon-aqua: #55DFB4;
    --font-open-sans: 'Open Sans', sans-serif;
    --font-raleway: 'Raleway', sans-serif;
}

body{
    font-family: var(--font-open-sans);
}

.container{
    margin: 0 auto;
    width: 1352px;
}

header{
    height: 70px;
    box-shadow: 0 3px 6px var(--color-shadow-header);
}

.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%
}

.logo{
    color: var(--color-primary);
    font-family: var(--font-raleway);
    font-size: 32px;
    font-weight: 300;
    text-decoration: none;
}

.nav-bar{
    display: flex;
}

.nav-link{
    color: var(--color-grey);
    font-size:11px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    letter-spacing: 3.28px;
    font-weight: 700;
    line-height: 15px;
    padding: 28px 12px 24px;
    border-bottom: 4px transparent;
}

.nav-link:hover{
    border-bottom-color: var(--color-primary);
    border-bottom-style: solid;
    color: var(--color-black);
    box-shadow: 0 3px 6px var(--color-shadow-header);
}

.nav-item{
    padding: 0 42px;
}

.nav-item:first-child{
    padding-left: 0;
}

.nav-item:last-child{
    padding-right: 0;
}

.welcome-section{
    /*height: calc(100vh - 70px);*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welcome-text{
    margin-top: 130px;
    text-align: center;
}

.welcome-text > h1{
    font-family: var(--font-raleway);
    font-size: 49px;
    font-weight: 400;
    line-height: 57px;
    margin-bottom: 20px;
}

.welcome-text > p{
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    margin-bottom: 60px ;
}

.btn{
    border-radius: 40px;
    font-weight: 700;
    text-decoration: none;
}

.btn-big-welcome{
    box-shadow: 5px 10px 14px var(--color-green);
    background: var(--color-primary);
    color: var(--color-white);
}

.btn-big{
    padding: 23px 157px;
}

.welcome-section > img{
    margin-top: 15px;
    width: 100%;
    height: auto;
}

.stats-section{
    font-family: var(--font-raleway);
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats-section > h2{
    font-size: 36px;
    font-weight: 400;
    color: var(--color-black);
    line-height: 42px;
}

.stats-elements{
    margin-top: 101px;
    display: flex;
}

.stats-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*Original 185px*/
    margin: 0 calc(230px * 0.5);
}

.circle-background{
    border-radius: 50%;
    width: 63px;
    height: 63px;
    margin-bottom: 14.18px;
    position: relative;
}

.reddish-circle{
    background-color: var(--color-reddish);
}

.blue-circle{
    background-color: var(--color-primary);
}

.aqua-circle{
    background-color: var(--color-icon-aqua) ;
}

.icon-image{
    position: absolute;
}

.reddish-circle .icon-image{
    top: 5%;
    right: -20%;
}

.blue-circle .icon-image{
    top: 20%;
    right: -30%;
}

.aqua-circle .icon-image{
    top: 10%;
    right: -30%;
}

.stats-data > span{
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 5.96px;
    line-height: 24px;
    margin-bottom: 19.11px;
}

.stats-data > p{
    color: var(--color-grey);
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
}

.benefits-section{
    margin-top: 122px;
    padding-top: 105px;
    background-color: var(--color-light-grey);
    display: flex;
    justify-content: center;
}

.benefits__container{
    width: 1124px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.benefits-element{
    height: 370px;
    width: 100%;
    margin-bottom: 37px;
    background-color: var(--color-white);
    border: 1px solid var(--color-white-border-box);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.benefit-reverse{
    flex-direction: row-reverse;
}

.benefit-description{
    width: 416px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 36px;
}

.benefit-reverse .benefit-description{
    margin: 0 36px 0 0;
}

.benefit-description > h2{
    font-family: var(--font-raleway);
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    margin-bottom: 30px;
}

.benefit-description > p{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.horizontal-line{
    margin: calc(50px - 4px) 0 0;
    width: 328px;
    border: 2px solid;
}

.reddish-border{
    border-color: var(--color-reddish);
}

.blue-border{
    border-color: var(--color-primary);
}

.aqua-border{
    border-color: var(--color-icon-aqua);
}

.image-background{
    position: relative;
}

.red-square{
    margin: 0 118px 38px 0;
    width: 386px;
}

.red-square::before{
    content: "";
    background-color: var(--color-reddish);
    width: 180px;
    height: 180px;
    border-radius: 40px;
    display: block;
    position: absolute;
    right: 0;
    top: 70px;
    transform: rotate(45deg);
}

.red-square img{
    margin-top: 113px;
    width: 386px;
    height: auto;
    position: absolute;
    z-index: 2;
}

.blue-circle-big{
    background-color: var(--color-primary);
    width: 320px;
    height: 320px;
    border-radius: 50%;
}

.blue-circle-big img{
    margin: 29px 0 13px;
    width: 426px;
    height: auto;
    position: absolute;
    z-index: 2;
}

.aqua-square img{
    width: 296px;
    height: auto;
}