* {
  box-sizing: border-box;
}

body {
  font-family: $font-open-sans;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;

  @include media-laptop-size{
    width: 1352px;
    padding: 0;
  }
}

.logo {
  color: $color-primary;
  font-family: $font-raleway;
  font-size: 32px;
  line-height: 37px;
  font-weight: 300;
  text-decoration: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 35px;

  @include media-tablet-size{
    font-size: 49px;

  }
}

h2 {
  font-size: 30px;
  line-height: 35px;

  @include media-laptop-size{
    font-size: 36px;
    line-height: 42px;
  }
}

p{
  font-size: 14px;
  line-height: 19px;

  @include media-laptop-size{
    font-size: 16px;
    line-height: 22px;
  }
}

img {
  width: 100%;
  height: auto;
}