*{
  box-sizing: border-box;
}

body{
  font-family: $font-open-sans;
}

.container{
  margin: 0 auto;
  width: 1352px;
}

.logo{
  color: $color-primary;
  font-family: $font-raleway;
  font-size: 32px;
  font-weight: 300;
  text-decoration: none;
}

a{
  text-decoration: none;
}

h1{
  font-size: 49px;
}

h2{
  font-size: 36px;
  //text-align: center;
}

img{
  width: 100%;
  height: auto;
}