.btn{
  border-radius: 40px;
  font-weight: 700;
  text-decoration: none;
}

.btn-big-welcome{
  box-shadow: 5px 10px 14px $color-green;
  background: $color-primary;
  color: $color-white;
}

.btn-big{
  padding: 23px 157px;
}
