.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;

  img {
    margin-top: 15px;
  }
}

.welcome-text {
  margin-top: 130px;
  text-align: center;

  h1 {
    font-family: var(--font-raleway);
    font-weight: 400;
    line-height: 57px;
    margin-bottom: 20px;
  }

  p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    margin-bottom: 60px;
  }
}


