.pricing-section {
  margin: 0 auto;
  width: 100%;
  //height: calc(616px + 100px);
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media-laptop-size{
    width: 1266px;
  }

}

.pricing-title {
  margin-top: 53px;
  font-family: $font-raleway;
  font-weight: 400;
  line-height: 42px;

  @include media-laptop-size{
    margin-top: 100px;
  }
}

.prices-boxes {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media-laptop-size{
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
  }
}

.offer-box {
  width: 293px;
  height: 251px;
  border: 1px solid;
  border-radius: 18px;
  position: relative;
  padding: 25px 11px 51px 45px;

  @include media-laptop-size{
    width: 372px;
    height: 461px;
    padding: 0;
  }
}

.offer-summary{
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media-laptop-size{
    flex-direction: column;
  }
}

.offer-title {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media-laptop-size{
    margin: 34px 0 69px 0;
  }

  h3 {
    font-family: $font-raleway;
    font-size: 20px;
    font-weight: 700;
  }

  p:first-of-type {
    margin-top: 14px;
    font-size: 46px;
    font-weight: 300;
    line-height: 64px;
  }

  p:nth-child(3) {
    margin-top: 5px;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
  }
}

.offer-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;

  @include media-laptop-size{
    //margin-bottom: 71px;
    margin-top: 25px;
  }

  > li {
    margin-bottom: 20px;

    &:before {
      content: "";
      margin-right: 10px;
      width: 11px;
      height: 11px;
      background-image: url("../assets/Ckechmark-1.svg");
      display: inline-block;
    }
  }
}

.offer-link {
  padding: 16px 57px;
  border-radius: 23px;
  text-decoration: none;
  color: $color-white;
  font-weight: 700;
  position: absolute;
  left: 67.5px;
  bottom: -24px;

  @include media-laptop-size{
    left: 106px;
  }
}

.plan-basic {
  margin-top: 14px;

  @include media-laptop-size{
    margin-top: 71px;
  }
  border-color: $color-reddish;

  .offer-title > p {
    color: $color-reddish;
  }

  li:nth-child(4)::before,
  li:last-of-type::before {
    background-image: url("../assets/Close.svg");
  }

  .offer-link {
    background-color: $color-reddish;
  }
}

.plan-professional {
  width: 339px;
  height: 277px;
  padding: 51px 41px 51px 28px;
  margin-top: 50px;
  border-color: $color-primary;
  box-shadow: 5px 10px 27px $color-border-box-pro-offer;

  @include media-laptop-size{
    width: 405px;
    height: 500px;
    padding: 0;
  }

  .offer-description {
    @include media-laptop-size{
      margin-bottom: calc(71px + 16px + 9px);
    }

    li:last-of-type::before {
      background-image: url("../assets/Close.svg");
    }
  }

  .offer-title p:first-of-type {
    color: $color-primary;
  }

  .offer-link {
    background-color: $color-primary;
    left: 90.5px;

    @include media-laptop-size{
      left: 123.5px;
    }
  }
}

.plan-premium {
  margin-top: 71px;
  padding: 25px 16px 51px 31px;
  border-color: $color-icon-aqua;

  @include media-laptop-size{
    padding: 0;
  }

  .offer-title {
    margin-bottom: calc(69px - 5px - 12px);

    p:first-of-type {
      color: $color-icon-aqua;
    }
  }

  .offer-link {
    background-color: $color-icon-aqua;
  }
}