.stats-section {
  font-family: $font-raleway;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    text-align: center;
    font-weight: 400;
    color: $color-black;
    line-height: 42px;
  }
}

.stats-elements {
  margin-top: 50px;
  display: inline-block;

  @include media-tablet-size{
    margin-top: 101px;
    display: flex;
  }
}

.stats-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom:25px;

  &:last-child{
    margin-bottom: 0;
  }

  @include media-tablet-size{
    //Original 185px
    margin: 0 calc(230px * 0.5);
  }

  .reddish-circle .icon-image {
    top: 5%;
    right: -20%;
  }

  .blue-circle .icon-image {
    top: 20%;
    right: -30%;
  }

  .aqua-circle .icon-image {
    top: 10%;
    right: -30%;
  }

  > span {
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 5.96px;
    line-height: 24px;
    margin-bottom: 19.11px;
  }

  > p {
    color: var(--color-grey);
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
  }

}

.circle-background {
  border-radius: 50%;
  width: 63px;
  height: 63px;
  margin-bottom: 14.18px;
  position: relative;

  &.reddish-circle {
    background-color: $color-reddish;
  }

  &.blue-circle {
    background-color: $color-primary;
  }

  &.aqua-circle {
    background-color: $color-icon-aqua;
  }

  .icon-image {
    position: absolute;
  }
}
